* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: rgb(255, 255, 255); */
}

/* Navbar */
.myNavbar {
    padding: 10px 0px;
    background-color: #ffffff;
}

.myNavbar .myContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myNavbar .myContainer .myLogo h3 {
    font-size: 1.5em;
}

.myNavbar .myContainer .links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleBar {
    font-size: 1.6em;
    display: none;
    transition: cursor 0.6s;
}

.toggleBar:hover {
    cursor: pointer;
}

.ourVision {
    background-color: var(--primaryColor);
    color: white;
    /* padding: 30px 10px; */
}

.ourVisionDiv h3 {
    font-weight: 400;
    font-size: 2.6rem;
    text-align: left;
    margin-bottom: 25px;
    /* margin: 40px auto; */
}

.ourVisionDiv p {
    font-weight:300;
    font-size: 1.2rem;
    line-height: 2rem;
}

.parallaxImg {
    background-image: url('../images/parallaxImg.jpg');
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-origin: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxImg img {
    width: 100%;
}

.contact {
    background: url('../images/heroImage.jpg') no-repeat center center / cover;
}

.contact::before 

.contactDiv .left__side h3 {
    font-weight: 500;
    color: white;
}

.contactDiv .right__side h4 {
    font-weight: 300;
    color: white;
}

.contactDiv .right__side h4 span {
    font-weight: 600;
}

.contactDiv .right__side .addressDiv p {
    font-size: 1rem;
    font-weight: 400;
    margin: 5px 0px;
    color: white;
}

.contactDiv .right__side .clickToFind a {
    text-decoration: underline;
    font-size: 1.4rem;
    color: white;
}

form div label {
    color: white;
    font-size: 1.3rem;
}

.backUpTop .myContainer i {
    font-weight: 600;
}

.backUpTop .myContainer i:hover {
    cursor: pointer;
}

input[type="submit"] {
    /* background: red;
    color: white; */
    border: none;
    font-weight: 600;
}

form div input, textarea {
    border: 3px solid #223755;
    border-radius: 3px;
}


@media screen and (max-width: 700px) {
    .myNavbar .myContainer .links {
        display: none;
    }

    .toggleBar {
        display: block;
    }

    .heroSection {
        position: relative;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        background: url('../images/heroImage.jpg') no-repeat center center / cover;
    }

    .heroSection .myContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        /* padding: 10px 0px; */
        z-index: 50;
    }

    .heroSection::before {
        position: absolute;
        content: "";
        top: 45;
        bottom: 40;
        right: 0;
        background: rgba(8, 54, 66, 0.8);
        width: 95%;
        height: 70%;
        z-index: 0;
    }

    .heroSection .myContainer h3 span {
        color: white;
        font-size: 3rem;
        font-weight: 600;
        margin: 10px 0px;
        text-transform: uppercase;
        display: block;
    }

    .heroSection .myContainer h3 {
        color: white;
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
    }

    .heroSection .myContainer p {
        color: white;
        max-width: 320px;
        margin: 15px 0px;
        font-size: 1.4rem;
    }

    .left__side h3 span {
        font-size: 2.5rem;
        text-transform: uppercase;
        display: block;
        font-weight: 600;
        margin: 35px 0px;
    }

    .left__side h3 {
        font-size: 2.4rem;
        text-transform: uppercase;
        font-weight: 300;
    }

    .right__side {
        padding: 30px 10px;
        /* background-color: white; */
    }

    .parallaxImg {
        background-image: url('../images/parallaxImg.jpg');
        min-height: 500px; 
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .attorneysDiv {
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0 auto;
    }

    .ourAttorneys .myContainer h3 {
        text-align: center;
        font-size: 2.8em;
        font-weight: 350;
        margin-bottom: 25px;
    }

    .attCard {
        width: 100%;
        padding: 0px 20px;
        margin: 0px auto 35px auto;
        /* text-align: center; */
    }

    .attCard img {
        min-height: 200px;
        width: 100%;
    }

    .attCard .firstDiv {
        padding: 10px 0px 0px 0px;
        text-align: center;
        border-bottom: 2px solid #6991ac9d;
    }

    .secondDiv {
        text-align: center;
        padding: 5px 0px;
    }

    form {
        /* background: pink; */
        max-width: 100%;
    }

    form div {
        margin: 10px 0px 5px 0px;
        padding: 0px 5px;
        max-width: 100%;
    }

    form div label, form div input {
        width: 100%;
    }

    form div input {
        padding: 5px 10px;
    }

    form .right__side textarea {
        width: 100%;
        padding: 5px 10px;
    }

    


}