:root {
    --primaryColor: #17718899;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: square;
}

.myContainer {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px 25px;
}