:root {
    --primaryColor: #274f9bf3;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: square;
}

.myContainer {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 25px;
    fonts
}